* {
    box-sizing: border-box;
}

#form {
    margin: 0 auto;
    width: 400px;
    border-radius: 10px;
    padding: 50px;
    background-color: gold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: cursive;
    color: #FFB1CF;
    text-align: center;
}

#results {
    margin: 0 auto;
    width: 600px;
    display: none;
}

#beginning, #end, span {
    font-weight: bold;
    color: #FFB1CF;
}

#end {
    text-align: center;
}


